[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
"psycopg2" = "*"
django-extensions = "*"
django-crispy-forms = "*"
openpyxl = "*"


[dev-packages]

neovim = "*"
pdbpp = "*"
"flake8" = "*"
httpie = "*"
yapf = "*"
django-extensions = "*"
pgcli = "*"
python-language-server = {extras = ["all"]}
pyls-isort = "*"
pytest = "*"
pytest-django = "*"
"flake8-bugbear" = "*"
black = "*"
"flake8-mypy" = "*"
selenium = "*"
pytest-selenium = "*"
mypy = "*"
pyflakes = "*"
pytest-cov = "*"
werkzeug = "*"
pylint = "*"
bpython = "*"
ptpython = "*"
