[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.1"
"psycopg2" = "*"
django-extensions = "*"
django-crispy-forms = "*"
openpyxl = "*"
factory-boy = "==2.11.1"
pytest-django = "==3.4.2"

[dev-packages]
neovim = "*"
pdbpp = "*"
"flake8" = "*"
httpie = "*"
yapf = "*"
django-extensions = "*"
pgcli = "*"
python-language-server = {extras = ["all"]}
pyls-isort = "*"
pytest = "*"
pytest-django = "*"
"flake8-bugbear" = "*"
black = "*"
"flake8-mypy" = "*"
selenium = "*"
pytest-selenium = "*"
mypy = "*"
pyflakes = "*"
pytest-cov = "*"
werkzeug = "*"
pylint = "*"
bpython = "*"
ptpython = "*"
