[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.1"
"psycopg2" = "*"
django-extensions = "==2.1.2"
django-crispy-forms = "*"
openpyxl = "*"
factory-boy = "==2.11.1"
pytest-django = "==3.4.2"
astroid = "==2.0.4"
atomicwrites = "==1.2.1"
"flake8-bugbear" = "==18.8.0"
mypy = "==0.620"
typing = "==3.6.6"
selenium = "==3.14.0"
jedi = "==0.12.1"
behave-django = "*"

[dev-packages]
neovim = "*"
pdbpp = "*"
"flake8" = "*"
httpie = "*"
yapf = "*"
django-extensions = "*"
pgcli = "*"
python-language-server = {extras = ["all"]}
pyls-isort = "*"
pytest = "*"
pytest-django = "*"
"flake8-bugbear" = "*"
"flake8-mypy" = "*"
selenium = "*"
pytest-selenium = "*"
mypy = "*"
pyflakes = "*"
pytest-cov = "*"
werkzeug = "*"
pylint = "*"
bpython = "*"
ptpython = "*"
