{% extends "core/base.html" %}

{% block title %}List of Projects{% endblock %}

{% block content %}
<div class="container">
    <h3>Projects</h3>
    <div class="container">
        <p>This text is hard-coded into the template but should be moved into the database.</p>
        <p>General description of what a Project is and why we need it.</p>
        <table class="table table-hover">
            <tr>
                <th scope="col" class="col-sm-3">Project</th>
                <th scope="col" class="col-sm-1">Tier</th>
                <th scope="col" class="col-sm-2">Type</th>
                <th scope="col">Stage</th>
                <th scope="col" class="col-sm-2">Start Date</th>
                <th scope="col" class="col-sm-2">Planned End Date</th>
            </tr>
            {% for item in object_list %}
            <tr>
                <td><a href="{% url "register:project_detail" item.slug %}">{{ item }}</a></td>
                <td>{{ item.tier }}</td>
                <td>{{ item.project_type }}</td>
                <td>{{ item.stage}}</td>
                <td>{{ item.start_date }}</td>
                <td>{{ item.planned_end_date }}</td>
            </tr>
            {% endfor %}

        </table>
        <div class="buttonHolder">
            <a class="btn btn-primary" href="{% url 'register:project_create' %}">Create New Project</a>
        </div>
    </div>
</div>

{% endblock %}
