{% extends "core/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

    {% if form.errors %}
    <p>There is something wrong with what you entered!</p>
    {% endif %}

    {% if next %}
    <p>You can't access that page!</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post" accept-charset="utf-8">
        {% csrf_token %} 

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <p><input type="submit" value="login" name="" id=""/></p>
        <input type="hidden" value="{{ next }}" name="next" id="next"/>
        
    </form>

{% endblock %}
