{% extends "core/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

    <h1>Log-in</h1>

    {% if form.errors %}
        <p>Your username and password did't match. Please try again.</p>
    {% else %}
       <p>Please use the following form to log-in:</p> 
    {% endif %}

    {% if next %}
    <p>You can't access that page!</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post" accept-charset="utf-8">
        {% csrf_token %} 

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <p><input type="submit" value="login" name="" id=""/></p>
        <input type="hidden" value="{{ next }}" name="next" id="next"/>
        
    </form>

{% endblock %}
