{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'core/site.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/nav.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'/>
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head_tags %}{% endblock %}
</head>

<nav class="crumbs">
    <!-- <ol> -->
    <!--     <li class="crumb"><a href="{% url 'index' %}">Home</a></li> -->
    <!--     <li class="crumb"><a href="{% url 'register:project_list' %}">Projects</a></li> -->
    <!-- </ol> -->
    <div class="title">
      dbasik
    </div>
    <div style="text-align: right">
        {% if request.user.is_authenticated %}
        <a href="#">{{ user }}</a>
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    </div>
</nav>



{% block navbar %}
<!-- The sidebar -->
<div class="sidebar">
  <ul>
    <li><a href="{% url 'dashboard'  %}">Home</a></li>
    <li><a href="{% url 'datamaps:datamap_list'  %}">Datamaps</a></li>
    <li><a href="{% url 'register:project_list'  %}">Projects</a></li>
    <li><a href="{% url 'returns:returns_list'  %}">Returns</a></li>
    <li><a href="{% url 'dashboard' %}">Dashboard</a>
  </ul>
</div>
{% endblock %}

<div class="content">
    {% block content %}
    {% endblock %}
</div>
</html>
