{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{%  block title %} Create new Returns - batch upload {% endblock %}

{% block content %}
    <div class="container">

        {% if messages %}
        <ul>
            {% for message in messages %}
            <div id="bad-file-upload-id" class="alert alert-dismissible alert-danger">
                {{ message }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="row">
            <div class="col-sm-6">
                {% crispy form %}
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Current projects in system 
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for project in projects %}
                                <li class="list-group-item"><a href="{% url "register:project_detail" project.slug %}">{{ project }}</a></li> 
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
