{% extends "core/base.html" %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
<div >
    {% if messages %}
    <ul>
        {% for message in messages %}
        <div id="message-test" >
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Return Item: {{ object }} </h3>
    <table >
        <thead>
            <tr>
                <th>Key</th>
                <th>Sheet</th>
                <th>String Value</th>
                <th>Integer Value</th>
                <th>Float Value</th>
                <th>Date Value</th>
            </tr>
        </thead>
        <tr>
            <td>{{ object.datamapline.key }}</td>
            <td>{{ object.datamapline.sheet }}</td>
            <td>{{ object.value_str }}</td>
            <td>{{ object.value_int }}</td>
            <td>{{ object.value_float }}</td>
            <td>{{ object.value_date }}</td>
        </tr>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}
