{% extends "core/base.html" %}

{% block title %}Templates{% endblock %}

{% block content %}
    <div class="container">
        
        <h3 id="show-datamap-table">Templates</h3>
        <table class="table table-hover">
            <thead>
                <th scope="col" class="col-sm-4">Template name</th>
                <th scope="col" class="col-sm-2">Source File</th>
            </thead>
            {% if object_list %}
                {% for template in object_list %}
                <tr>
                    <td id="template-title"><a href="{% url 'templates:template_detail' template.slug %}">{{ template.name }}</a></td>
                    <td> {{ template.source_file }}</a></td>
                    <td> <a class="btn btn-danger" href="{% url 'templates:delete' template.slug %}">DELETE</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <td>There are no templates.</td>
            {% endif %}
        </table>
        <div class="container">
            <a class="btn btn-primary" href="{% url 'templates:create' %}">Create a template</a>
        </div>
    </div>

{% endblock %}
