{% extends "core/base.html" %}

{% block title %}Return Items{% endblock %}

{% block content %}
    <div class="container">
        
        <h3 id="show-datamap-table">Returns</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-sm-4">Return Item</th>
                </tr>
            </thead>
            {% if object_list %}
                {% for return in object_list %}
                <tr>
                    <td><a href="{% url "returns:return_data" return.pk %}">{{ return }}</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <td>There are no Return Items.</td>
            {% endif %}
        </table>
        <div class="container">
            <a class="btn btn-primary" href="{% url 'returns:return_create' %}">Create a new Return</a>
        </div>
    </div>

{% endblock %}
