{% extends "core/base.html" %}

{% block title %}Return Items{% endblock %}

{% block content %}
    <div class="container">
        <h3 id="show-datamap-table">{{ return }}</h3>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="col-sm-3">Return Item</th>
                    <th scope="col" class="col-sm-1">Sheet</th>
                    <th scope="col" class="col-sm-4">Text Value</th>
                    <th scope="col" class="col-sm-1">Integer Value</th>
                    <th scope="col" class="col-sm-1">Float Value</th>
                    <th scope="col" class="col-sm-2">Date Value</th>
                </tr>
            </thead>
            {% if object_list %}
                {% for obj in object_list %}
                <tr>
                    <td>{{ obj.datamapline.key }}</td>
                    <td>{{ obj.datamapline.sheet }}</td>
                    <td>{{ obj.value_str|default:"-" }}</td>
                    <td>{{ obj.value_int|default:"-"  }}</td>
                    <td>{{ obj.value_float|default:"-"  }}</td>
                    <td>{{ obj.value_date|date:"j M Y"|default:"-"  }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <td>There are no Return Items.</td>
            {% endif %}
        </table>
        <div class="container">
            <a class="btn btn-primary" href="{% url 'excelparser:process_populated' return.id %}">Upload a populated template</a>
        </div>
    </div>

{% endblock %}
