{% extends "core/base.html" %}

{% block title %}Return Items{% endblock %}

{% block content %}

    <div class="container">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div id="message-test" class="alert alert-dismissible alert-secondary">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

        <h2 id="show-datamap-table">Returns</h2>

        <p>Some blurb about what these things are.</p>

        {% if valid_fqs %}
            {% for fq in valid_fqs %}

                <div class="card border-primary mb-5">
                    <div class="card-body">

                <div class"card-title">
                    <h4 class="bg-light text-primary">{{ fq }}</h4>
                </div>

                    {% for r in object_list %}
                        {% if r.financial_quarter == fq %}
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {% if r.return_returnitems.count < 1 %}
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-8">
                                                    <a href="{% url "returns:return_data" r.pk %}">{{ r }}</a>
                                                </div>
                                                <div class="col-3">
                                                    <span class="badge badge-warning badge-pill">Check errors/progress</span>
                                                </div>
                                                <div class="col-1">
                                                    <a href="{% url "returns:return_delete" r.pk %}" class="btn btn-danger float-right">DELETE</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-8">
                                                    <a href="{% url "returns:return_data" r.pk %}">{{ r }}</a>
                                                </div>
                                                <div class="col-3">
                                                    <span class="badge badge-success badge-pill">Data points: {{ r.return_returnitems.count }}</span>
                                                </div>
                                                <div class="col-1">
                                                    <a href="{% url "returns:return_delete" r.pk %}" class="btn btn-danger float-right">DELETE</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </li>
                        {% endif %}
                    {% endfor %}
                            <li class="list-group-item align-self-end">
                                <a href="{% url "returns:download_master" fq.id %}" class="btn btn-primary">Download Master</a>
                            </li>
                        </ul>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <div class="container">
                <p class="text-muted">There are no Return Items.</p>
            </div>
        {% endif %}

        <div class="container">
            <a class="btn btn-primary" href="{% url 'returns:return_create' %}">Create a new Return</a>
            <a class="btn btn-primary" href="{% url 'returns:return_batch_create' %}">Create new Returns (batch upload)</a>
        </div>

{% endblock %}
