{% extends "core/base.html" %}

{% block title %}Return Items{% endblock %}

{% block content %}
    <div class="container">

        <h3 id="show-datamap-table">Returns</h3>

        {% if valid_fqs %}
            {% for fq in valid_fqs %}
                <h4>{{ fq }}</h4>
                {% for r in fq.return_financial_quarters.all %}
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url "returns:return_data" r.pk %}">{{ r }}</a><span class="badge badge-primary badge-pill">Return Items: 10</span>
                        </li>
                    </ul>
                {% endfor %}
            {% endfor %}
        {% else %}
            <td>There are no Return Items.</td>
        {% endif %}

        <div class="container">
            <a class="btn btn-primary" href="{% url 'returns:return_create' %}">Create a new Return</a>
        </div>
    </div>

{% endblock %}
