{% extends "core/base.html" %}

{% load crispy_forms_tags %}
{% crispy tier_create_form.helper %}

{% block title %}Create datamap{% endblock %}

{% block content %}

<div class="left-panel">
    <strong>Current datamaps in system</strong>
    {% for item in existing_objects %}
    <ul>
        <li><a href="{%  url 'datamaps:datamap_detail' item.slug %}">{{ item.name }}</a></li>
    </ul>
    {% endfor %}
</div>
{% endblock %}

<div class="right-panel">
    <h3>Instructions</h3>
    <p>Datamaps are used for this and that. They are very useful for certain things.
    Think about that - VERY useful for certain things.</p>

    <p>Use the <strong>Create a new Datamap</strong> form below to upload a CSV file 
    into the system.</p>
</div>

<div>
    {% crispy form %}
</div>
