{% extends "core/base.html" %}

{% block title %}{{ dm_name }}{% endblock %}

{% block content %}

<div class="left-panel">
    <p><strong>WARNING:</strong> The <strong>Data Type</strong>, <strong>Max Length</strong> and <strong>Required</strong> fields are not currently 
    implemented. They will be in a future verison.</p>
</div>

<div class="right-panel">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <div id="message-test">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}


    <h3>{{ dm_name }} </h3>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Data Type</th>
                <th>Max Length</th>
                <th>Required</th>
                <th>Sheet</th>
                <th>Cell Reference</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for line in dm_lines %}
            <tr>
                <td><a href="{% url 'datamaps:datamapline_update' line.id %}" id="key-cell">{{ line.key }}</a></td>
                <td>{{ line.data_type }}</td>
                <td>{{ line.max_length }}</td>
                <td>{{ line.required }}</td>
                <td>{{ line.sheet }}</td>
                <td>{{ line.cell_ref }}</td>
                <td>
                    <a href="{% url 'datamaps:datamapline_update' line.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'datamaps:datamapline_delete' line.id %}">DELETE</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <div>
        <a href="{% url 'datamaps:datamapline-create' dm.slug %}">Add line to this datamap</a>
        <a href="{% url 'datamaps:datamap_update' dm.slug %}">Edit</a>
        <a href="{% url 'datamaps:uploaddatamap' dm.slug %}">Upload CSV</a>
        <a href="{% url 'datamaps:datamap_delete' dm.slug %}">Delete this datamap</a>
    </div>
</div>
</div>

</div>


{% endblock %}
