{% extends "core/base.html" %}

{% load crispy_forms_tags %}
{% crispy tier_create_form.helper %}

{% block title %}Create datamap{% endblock %}

{% block content %}
    <div style="margin: 10px 0px; 10px 0px;">
        <h3>Instructions</h3>
        <p>Datamaps are used for this and that. They are very useful for certain things.
            Think about that - VERY useful for certain things.</p>

        <p>Use the <strong>Create a new Datamap</strong> form below to upload a CSV file 
            into the system.</p>

    </div>
<div id="new-datamap-form">
    {% crispy form %}
</div>

<div class="flex-container">
    <div id="callout-box">
        <strong>Current datamaps in system</strong>
        {% for item in existing_objects %}
        <ul>
            <li><a href="{%  url 'datamaps:datamap_detail' item.slug %}">{{ item.name }}</a></li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}
