{% extends "core/base.html" %}

{% block title %}{{ dm_name }}{% endblock %}

{% block content %}


        <div>
            <p><strong>WARNING:</strong> The <strong>Data Type</strong>, <strong>Max Length</strong> and <strong>Required</strong> fields are not currently 
                implemented. They will be in a future verison.</p>
        </div>
            <div>
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <div id="message-test" class="alert alert-dismissible alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>


            <h3>{{ dm_name }} </h3>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="col-sm-3">Key</th>
                        <th scope="col" class="col-sm-1">Data Type</th>
                        <th scope="col" class="col-sm-1">Max Length</th>
                        <th scope="col" class="col-sm-1">Required</th>
                        <th scope="col" class="col-sm-1">Sheet</th>
                        <th scope="col" class="col-sm-1">Cell Reference</th>
                        <th scope="col" class="col-sm-1"></th>
                        <th scope="col" class="col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in dm_lines %}
                        <tr>
                            <td><a href="{% url 'datamaps:datamapline_update' line.id %}" id="key-cell">{{ line.key }}</a></td>
                            <td>{{ line.data_type }}</td>
                            <td>{{ line.max_length }}</td>
                            <td>{{ line.required }}</td>
                            <td>{{ line.sheet }}</td>
                            <td>{{ line.cell_ref }}</td>
                            <td class="text-right">
                                <a class="btn btn-primary mx-1 px-1" href="{% url 'datamaps:datamapline_update' line.id %}">Edit</a>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-danger mx-1 px-1" href="{% url 'datamaps:datamapline_delete' line.id %}">DELETE</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>



        <div class="buttonHolder">
            <a class="button" id="add-line-to-datamap-button"  href="{% url 'datamaps:datamapline-create' dm.slug %}">Add line to this datamap</a>
            <a class="button" id="edit-datamap-button" href="{% url 'datamaps:datamap_update' dm.slug %}">Edit</a>
            <a class="button" id="upload-csv-button" href="{% url 'datamaps:uploaddatamap' dm.slug %}">Upload CSV</a>
            <a class="button" id="delete-datamap-button" href="{% url 'datamaps:datamap_delete' dm.slug %}">Delete this datamap</a>
        </div>
    </div>
    </div>

{% endblock %}
