{% extends "core/base.html" %}

{% block title %}Datamaps{% endblock %}

{% block content %}

<div class="w3-container">

    <h2>Datamaps</h2>
    <div class="w3-panel w3-border"><p>{% lorem %}</p></div>
    <table class="w3-table-all">
        <thead>
            <tr>
                <th scope="col">Datamap name</th>
                <th scope="col">Tier</th>
                <th scope="col">Active</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        {% if object_list %}
        {% for datamap in object_list %}
        <tr>
            <td id="datamap-title"><a href="{% url 'datamaps:datamap_detail' datamap.slug %}">{{ datamap.name }}</a></td>
            <td> {{ datamap.tier }} </td>
            <td> {{ datamap.active }} </td>
            <td> <a class="w3-text-red" href="{% url 'datamaps:datamap_delete' datamap.slug %}">DELETE</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <td>There are no datamaps.</td>
        {% endif %}
    </table>
    <div style="margin-top: 10px;">
        <a class="w3-button w3-green" href="{% url 'datamaps:datamap-create' %}">Create a datamap</a>
    </div>
</div>

{% endblock %}
