{% extends "core/base.html" %}

{% block title %}List of Projects{% endblock %}

{% block content %}

<div class="left-panel">
    <div class="data-table-heading">
        <div id="data-table-heading-title">Projects</div>
    </div>

    <div><p>{% lorem %}</p></div>
</div>

<div class="right-panel">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <div id="message-test">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    
    <div class="data-table-heading">
        <div id="data-table-heading-title">Current projects</div>
    </div>

    <table class="projects-table">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Tier</th>
                <th>Type</th>
                <th>Stage</th>
                <th>Abbreviation</th>
                <th>Group</th>
            </tr>
        </thead>
        <tbody>
            {% for p in projects %}
            <tr>
                <td><a href="{% url "register:project_detail" p.slug %}">{{ p.name}}</a></td>
                <td>{{p.tier}}</td>
                <td>{{p.project_type}}</td>
                <td>{{p.stage}}</td>
                <td>{{p.abbreviation}}</td>
                <td>{{p.dft_group}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="margin-top: 10px;">
        <a href="{% url 'register:project_create' %}">Create New Project</a>
    </div>
</div>
{% endblock %}
