{% extends "core/base.html" %}

{% block title %}List of Projects{% endblock %}

{% block content %}
<h3>Projects</h3>
<p>List of projects in the system.</p>

{% for item in object_list %}
    <ul>
      <li>
        <div>
        <a href="{% url "register:project_detail" item.slug %}">{{ item }}</a>
        ({{ item.tier }}
        {{ item.project_type }}
        {{ item.stage}}
        {{ item.start_date|date:"j M Y" }}
        {{ item.planned_end_date|date:"j M Y" }})
        </div>
      </li>  
    </ul>
{% endfor %}

</table>
<div class="buttonHolder">
    <a class="button" href="{% url 'register:project_create' %}">Create New Project</a>
</div>

{% endblock %}
