{% extends "core/base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<div class="left-panel">
    <div class="data-table-heading">
        <div id="data-table-heading-title">
            {{ object.name }} ({{ object.tier }} - {{ object.project_type }})
        </div>
    </div>
    <h3>Project Summary</h3>
        <p><strong>Stage: </strong>{{ object.stage }}</p>
    <h3>Description</h3>
    <div>
        {{ object.dft_group|default:"No DfT Group Given" }} |
        {{ dft_division|default:"No DfT Division Given"  }}
    </div>
    <p>{% lorem %} </p> 
</div>

<div class="right-panel">
    <div class="data-table-heading">
        <div id="data-table-heading-title">Returns</div>
    </div>

    {% if returns %}
    {% for r in returns  %}
    <div>
        <a href="{% url 'returns:return_data' r.pk %}">{{ r }}</a>
        <table>
            <tr>
                <td><strong>Current RAG:</strong></td>
                <td style="background: #{{ r.rag_c }}"><span style="color: white">{{ r.rag }}</span></td>
            </tr> 
            <tr>
                <td><strong>DCA Narrative:</strong></td>
                <td> {{ r.dca_narrative }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}
    {% else %}
    <div>Key Data - no current return</div>
    {% endif %}
    <div>
        <a>Edit</a>
        <a>Delete</a>
    </div>
</div>

{% endblock %}
