{% extends "core/base.html" %}

{% load crispy_forms_tags %}
{% crispy project_create_form.helper %}

{% block title %}Create a new Project{% endblock %}

{% block content %}

<div class="left-panel">
    <p>Current projects:</p>
    <ul>
        {% for p in existing_objects %}
            <li>{{p.name}}</li>
        {% endfor %}
    </ul>
</div>
<div class="right-panel">
    <div class="form-container">
        {% crispy form %}
    </div>

    <div>
        <div>Current Projects in system</div>
        <div>
            {% for item in existing_objects %}
            <ul id="current-datamap-list" >
                <li>{{ item }}</a></li>
            </ul>
            {% endfor %}
        </div> 
    </div>
</div>
{% endblock %}
