{% extends "core/base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <div>
        <h2>{{ object.name }} ({{ object.tier }} - {{ object.project_type }})</h2>
        <!--{% if object.dependencies %}-->
            <!--<p class="w-75 p-3 border">{{ object.dependencies }}</p>-->
        <!--{% else %}-->
            <!--<p>There are no dependencies for this Project.</p>-->
        <!--{% endif %}-->
        <!--</div>-->
        <div style="padding: 2px;">
        {{ dft_group }}
        {{ dft_division }}
        </div>
        <div style="margin-top: 20px;">
            <strong>SRO</strong>:<br>
            - {{ sro_full_name }}
        </div>
        <div>
            <strong>Working Contact:</strong><br>
            - {{ working_contact }} (Tel: {{ working_contact_phone }})
        </div>

        <table class="table-light">
           <tr>
            <td class="row-light"><strong>Stage:</strong></td>
            <td class="row-light">{{ object.stage }}</td>
           </tr>
           <tr>
            <td class="row-light"><strong>Start Date:</strong></td>
            <td class="row-light">{{ object.start_date|date:"j M Y" }}</td>
           </tr>
           <tr>
           <td class="row-light"><strong>Planned End Date:</strong>{{ object.planned_end_date|date:"j M Y" }}</td>
           </tr>
        </table>
        
        <h3>Returns</h3>

        {% if returns %}
            {% for r in returns  %}
                <h4>{{ r }}</h4>
                <table>
                    <tr>
                        <td><strong>Current RAG:</strong></td>
                        <td style="background: #{{ r.rag_c }}"><span style="color: white">{{ r.rag }}</span></td>
                    </tr> 
                    <tr>
                        <td><strong>DCA Narrative:</strong></td>
                        <td> {{ r.dca_narrative }}</td>
                    </tr>
                </table>
            {% endfor %}
        {% else %}
            <div>Key Data - no current return</div>
        {% endif %}
        <div>

        <a class="button" href="{% url 'register:project_update' object.slug %}">Edit</a>
        <a class="button danger" href="{% url 'register:project_delete' object.slug %}">Delete</a>
        </div>
    </div>
{% endblock %}
