{% extends "core/base.html" %}

{% load crispy_forms_tags %}
{% crispy tier_create_form.helper %}

{% block title %}Create a new Tier{% endblock %}

{% block content %}

<div class="left-panel">
    <p>Bobbins</p>
</div>

<div class="right-panel">
    <div class="form-container">
        {% crispy form %}
    </div>
    <div>
        <div>Current Tiers in system</div>
        <div>
            {% if existing_objects %}
            {% for item in existing_objects %}
            <ul id="current-tier-list">
                <li>{{ item }}</a></li>
            </ul>
            {% endfor %}
            {% else %}
            <p>No Datamaps in system.</p>
            {% endif %}
        </div> 
    </div>
</div>

{% endblock %}
