{% extends "core/base.html" %}

{% block title %}Create datamap{% endblock %}

{% block content %}
<p id='datamap-integrity-error'>Please ensure your datamap name for this portfolio is unique.</p>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li id='message-test'>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
        <form action="/datamaps/create/" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" name="submit-new-dm" id="submit-new-dm"/>
        </form>
    <h2>Current datamaps in system:</h2>
    {% for d in dms_l %}
        <ul id="current-datamap-list">
            <li><a href="{%  url 'datamaps:datamap-detail' d.slug %}">{{ d.name }}</a></li>
        </ul>
    {% endfor %}

{% endblock %}
