{% extends "core/base.html" %}

{% block title %}Delete DatamapLine{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <form method="post" accept-charset="utf-8">{% csrf_token %}
            Are you sure you want to delete "{{ object }}"?
            <div class="buttonHolder p-1">
                <button class="btn btn-danger" type="submit" value="Submit" name="submit" id="submit-button"/>Yes</button>
                <a href="{% url 'datamaps:datamap_list' %}" class="btn btn-primary">Cancel</a> 
            </div>
        </form>
    </div>    
</div>


{% endblock %}
