{% extends "core/base.html" %}

{% block title %}{{ dm_name }}{% endblock %}

{% block content %}
<div class="container">
    
        <h3 id="show-datamap-table">Datamap: {{ dm_name }} </h3>
        <div class="container">
            
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Key</td>
                    <th scope="col" class="col-sm-2">Sheet</td>
                    <th scope="col" class="col-sm-1">Cell Reference</td>
                </tr>
            </thead>
            <tbody>
                {% for line in dm_lines %}
                <tr>
                    <td><a href="{% url 'datamaps:datamapline-update' line.id %}">{{ line.key }}</a></td>
                    <td>{{ line.sheet }}</td>
                    <td>{{ line.cell_ref }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="buttonHolder">
            <a class="btn btn-primary" href="{% url 'datamaps:datamapline-create' dm.slug %}">Add line to this datamap</a>
            <a class="btn btn-primary" href="{% url 'datamaps:datamap_update' dm.slug %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'datamaps:delete' dm.slug %}">Delete this datamap</a>
        </div>
    </div>
</div>

{% endblock %}
