{% extends "core/base.html" %}

{% load crispy_forms_tags %}
{% crispy tier_create_form.helper %}

{% block title %}Create datamap{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% crispy form %}
        </div>

        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Current datamaps in system</h5>
                    {% for item in existing_objects %}
                    <ul id="current-datamap-list" class="list-group">
                        <li class="list-group-item card-text"><a href="{%  url 'datamaps:datamap_detail' item.slug %}">{{ item.name }}</a></li>
                    </ul>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </div>

</div>
{% endblock %}
