<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Datamap_list</title>
    </head>
    <body>
        <h1>Datamaps</h1>
        <ul>
            {% if object_list %}
                {% for datamap in object_list %}
                <li><a href="{% url 'datamap' datamap.id %}"> {{ datamap.name }}</a></li>
                {% endfor %}
            {% else %}
                <p>There are no datamaps.</p>
            {% endif %}
        </ul>
        <p><a href="{% url 'createdatamap' %}">Create a new datamap</a></p>
    </body>
</html>
