<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Datamap Detail</title>
    </head>
    <body>
        <h1 id="show-datamap-table">Datamap: </h1>
        <table>
            <tr>
                <td>Key</td>
                <td>Sheet</td>
                <td>Cell Reference</td>
            </tr>
            {% for line in dm_lines %}
            <tr>
                <td>{{ line.key }}</td>
                <td>{{ line.sheet }}</td>
                <td>{{ line.cell_ref }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
