{% extends "core/base.html" %}

{% block title %}{{ dm_name }}{% endblock %}

{% block content %}
        <h1 id="show-datamap-table">Datamap: {{ dm_name }} </h1>
        <table>
            <tr>
                <td>Key</td>
                <td>Sheet</td>
                <td>Cell Reference</td>
            </tr>
            {% for line in dm_lines %}
            <tr>
                <td><a href="{% url 'edit-datamapline' line.id %}">{{ line.key }}</a></td>
                <td>{{ line.sheet }}</td>
                <td>{{ line.cell_ref }}</td>
            </tr>
            {% endfor %}
        </table>
        <p id='delete-datamap-button'>
            <a href="{% url 'delete-datamap' dm.slug %}">Delete this datamap</a>
        </p>

{% endblock %}
