{% extends "core/base.html" %}

{% block title %}Datamaps{% endblock %}

{% block content %}
    <div class="container">
        
        <h3>Datamaps</h3>
        <table class="table table-hover">
            <thead>
                <th scope="col" class="col-sm-4">Datamap name</th>
                <th scope="col" class="col-sm-2">Tier</th>
                <th scope="col" class="col-sm-2">Active</th>
            </thead>
            {% if object_list %}
                {% for datamap in object_list %}
                <tr>
                    <td><a href="{% url 'datamaps:datamap_detail' datamap.slug %}">{{ datamap.name }}</a></td>
                    <td> {{ datamap.tier }}</a></td>
                    <td> {{ datamap.active }}</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <td>There are no datamaps.</td>
            {% endif %}
        </table>
        <div class="container">
            <a class="btn btn-primary" href="{% url 'datamaps:datamap-create' %}">Create a datamap</a>
        </div>
    </div>

{% endblock %}
