{% extends "core/base.html" %}

{% block title %}{{ dm_name }}{% endblock %}

{% block content %}
        <h1 id="show-datamap-table">Datamap: {{ dm_name }} </h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Key</td>
                    <th scope="col">Sheet</td>
                    <th scope="col">Cell Reference</td>
                </tr>
            </thead>
            <tbody>
                {% for line in dm_lines %}
                <tr>
                    <td><a href="{% url 'datamaps:datamapline-update' line.id %}">{{ line.key }}</a></td>
                    <td>{{ line.sheet }}</td>
                    <td>{{ line.cell_ref }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p id='delete-datamap-button'>
            <a href="{% url 'datamaps:delete' dm.slug %}">Delete this datamap</a>
        </p> |
        <p id='add-line-to-datamap'>
            <a href="{% url 'datamaps:datamapline-create' dm.slug %}">Add line to this datamap</a>
        </p>


{% endblock %}
